<h1>id:
  <%= @task.id %>
  のTask詳細ページ
</h1>
<div class="list-group">
  	<div class="list-group-item">
		  <h4 class="list-group-item-heading"><%= @task.content %></h4>
		  <p class="list-group-item-text">Status: <%= @task.status %></p>
	  </div>
</div>
<%= link_to 'このタスクを編集する', edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
